<phpunit>
    <testsuites>
        <testsuite name="withapi">
            <directory>tests/publicapi/d3</directory>
            <directory>tests/publicapi/wow</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>