<phpunit>
    <testsuites>
        <testsuite name="endpoints">
            <directory>tests/endpoint/d3</directory>
            <directory>tests/endpoint/sc2</directory>
            <directory>tests/endpoint/wow</directory>
            <directory>tests/endpoint/oauth</directory>
            <directory>tests/endpoint/general</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>